* {
padding: 0;
margin: 0;
border: none;
list-style: none;
}
li{
    list-style: none;
    border: solid 1px;
    margin: 2vw;
}
h3{
    margin: 0;
}
input{
    border: 1px solid;
}
button{
    border: 1px solid;
}